body{
    font-family: 'Nunito';
}

#logo{
    display: flex;
    align-items: center;
}

#logo img{
    width: 30px;
    height: 30px;
}

#logo figcaption{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
    margin-left: 8px;
}

nav{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

nav ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: rgba(34, 34, 34, 0.75);
}

nav ul li.active a{
    color: rgba(218, 165, 32, 1);
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
}

nav ul li.button{
    border: 1px solid rgba(62, 63, 67, 1);
    border-radius: 8px;
    padding: 9px 36px;
    text-transform: uppercase;
}



header{
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

header h1{
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #313235;    
}

header button{
    background-color: #DAA520;
    color: white;
    padding: 14px 36px;
    border-radius: 4px;
    border: none;

}

header span{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: #3E3F43;
}
section{
    
    width: 1000px;
    margin: 0 auto;
}
.container {
    width: 100%;
    padding: 0 2.4em;
    max-width: 120em;
    margin: 0 auto;
}
.superheading {
    display: flex;
    align-items: center;
}
.superheading .subheading {
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #3e3f43;
    font-size: 3.5rem;
    justify-content: space-between;
}
p {
    display: block;
    justify-content: space-between;
    font-weight: 700;
    font-size: 3.5rem;
    font-family: "Nunito", sans-serif;
}
.superheading .line {
    display: inline-block;
    height: 2px;
    background: #000;
    width: 30%;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.superheading h1 {
    font-weight: 700;
    color: #222222;
    opacity: 0.1;
    font-size: 3.5rem;
}
a, p, h1, h2, h3, h4, h5, button {
    font-family: "Nunito", sans-serif;
}
.underlay {
    position: relative;
    height: 400px;
    width: 250px;
    border-bottom-left-radius: 150px;
    border-top-right-radius: 150px;
    background: #f7dea6;
}
.sub-img img {
    position: absolute;
    bottom: 0px;
    right: -100px;
    width: 150%;
}
.sub-content p:nth-child(1) {
    font-size: 2rem;
    margin-top: -15%; position: inherit;
}
.sub-content p:nth-child(2) {
    font-size: 1.5rem;
}
.sub-content{
    text-align: right;
    vertical-align:bottom;
}

#about .star {
    position: absolute;
    z-index: -2;
    bottom: 0;
    left: 0;
}
svg[Attributes Style] {
    width: 398;
    height: 398;
    fill: none;
}
svg:not(:root) {
    overflow: hidden;
}
g[Attributes Style] {
    filter: url(#filter0_d);
    filter: url(#filter1_d);
    filter: url(#filter2_d);
    filter: url(#filter3_d);
}
.subcontent1 p:nth-child(1) {
    font-size: 2rem;
    text-align: left;
    margin-top: -30%;
    position: inherit;
}
a, p, h1, h2, h3, h4, h5, button {
    font-family: "Nunito",sans-serif;
    font-size: 1.5rem;
}
strong {
    font-weight: bold;
}
.sub-img1{
    margin-top: 4rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: flex-end;
    right: left;
    margin-right: 110px;
    margin-top: -15%; 
    position: inherit;
}
#works .works-container {
    margin-top: 4rem;
}
#works .works-container .content {
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
#works .works-container .content .group {
    margin-top: 6rem;
}
#works .works-container .content .group .img {
    width: 275px;
    margin: 0 auto;
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
 *, *::before, *::after {
        padding: 0;
        box-sizing: border-box;
 }
 #works .works-container .content .group .img p {
    position: absolute;
    font-size: 8rem;
    font-weight: bolder;
    left: -10px;
    bottom: -20px;
    color: #f9bdbd;
    opacity: 0.25;
}
#works .works-container .content p {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}
#works .works-container .content {
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
#works .works-container .content .group .img img {
    width: 200px;
}
img:not(.logo) {
    display: block;
}
#works .works-container .wrapper {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
#works .works-container .wrapper .btn{
    background-color: #DAA520;
    color: white;
    padding: 14px 36px;
    border-radius: 4px;
    border: none;
}
.container {
    width: 100%;
    padding: 0 2.4em;
    max-width: 120em;
    margin: 0 auto;
}
#category .category-container {
    margin-top: 8rem;
}
#category .category-container {
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
}
#category .category-container .content {
    position: relative;
    background: #f9bdbd;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    height: 400px;
    width: 280px;
    padding: 1rem;
}
#category .category-container .content:nth-child(2) {
    background: #f7dea6;
}
#category .category-container .content p {
    font-size: 2rem;
    font-weight: bolder;
}
#category .category-container .content .img {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 2rem;
}
#category .category-container .content .sign {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid #000000;
    background: transparent;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 5px;
    transition: all 300ms ease;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}
#category .category-container .content:nth-child(3) {
    background: #a8dcec;
}
#category .category-container .content:nth-child(4) {
    background: #f9bdbd;
}
#category .category-container .content:nth-child(5) {
    background: #f7dea6;
}
section {
    padding: 8em 0;
}
.footer {
    background: linear-gradient(#f2f2f2, #f7f7f766, #fff);
}
#testimony .testimony-container {
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
    margin-top: 4rem;
}
.container {
    width: 100%;
    padding: 0 2.4em;
    max-width: 120em;
    margin: 0 auto;
}
section {
    padding: 8em 0;
}
.footer .subscribe {
    padding-bottom: 4rem;
}
.footer .subscribe {
    display: grid;
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 10rem;
    padding-top: 2rem;
}
.footer .subscribe .content p:nth-child(1) {
    font-weight: bolder;
    font-size: 1.5rem;
}
.footer .subscribe p {
    font-size: 1.4rem;
}
